@import "../../assets/palette";

.BooksList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  background-color: $text-color-bg;
  color: $text-color;
  border: 1px solid none;
  border-radius: 30px;
  .container__errorPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    .container__errorPage__text {
      color: $text-color-bg;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 481px) {
  .BooksList {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .BooksList {
    grid-template-columns: repeat(1, 1fr);
  }
}
