.container__header__align{
    margin-top: 30vh;
    text-align: center;
}
.header__title{
    font-size: 4vh;
}
.header__subtitle{
    font-size: 2vh;
    margin-bottom: 10vh;
}


.container__header__align__aftersubmit{
    margin-top: 2vh;
    text-align: center;
}
